<tr class="font-weight-light">
    <td><%= sale.id %></td>
    <td><%= sale.created_at.strftime("%d/%m/%Y")  %></td>
    <td><%= number_to_currency(sale.amount) %></td>
    <td>
        <%= button_to sale_path(sale),class:"btn btn-sm  btn-danger", form_class: "d-inline-block", method: :delete, data: { confirm: '¿Estas seguro? Esta acción no se puede revertir.', disable_with: "<i class='fa fa-spinner fa-spin'></i> Eliminando..." } do %>
        <i class="fa fa-trash"></i>
        <% end %>


        <%= button_to sale_path(sale),class:"btn btn-sm btn-primary", form_class: "d-inline-block", method: :get, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Buscando..." } do %>
        <i class="far fa-eye"></i>
        <% end %>

    </td>
</tr>