<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="text-center">Venta #<%= @sale.id %></h4>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-right">Fecha: <%= @sale.created_at.strftime("%d/%m/%Y") %></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-center text-primary"> <i class="fas fa-tag "></i> Articulos </h5>
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Vendedor</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @sale.sale_items.each do |article| %>
                                <tr>
                                    <td><%= article.product.description %></td>
                                    <td><%= article.seller.name %></td>
                                    <td><%= number_to_currency(article.product.price) %></td>
                                    <td><%= article.quantity %></td>
                                    <td><%= number_to_currency(article.product.price * article.quantity) %></td>
                                </tr>
                                <% end %>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="text-success"><%= number_to_currency(@sale.amount) %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <%= link_to "Atras", sales_path , class: "btn btn-danger"%>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>